<div class="input">
  <input placeholder="Input TV show name" (input)="onInput($event)" />
</div>

<div *ngIf="loading">Loading...</div>
<div *ngIf="error" class="error">{{ error }}</div>

<div class="shows" *ngIf="!loading && !error">
  <div class="show" *ngFor="let show of filteredShows">
    <div class="info">
      <div class="name">{{ show.name }}</div>
      <p class="genres"><strong>Genres:</strong> {{ show.genres?.join(', ') }}</p>
      <p class="description"><strong>Description:</strong> {{ show.summary }}</p>
    </div>
    <img *ngIf="show.image?.medium" [src]="show.image.medium" alt="{{ show.name }}" />
  </div>
</div>


